a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

iframe {
  display: block;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

i,
code,
b {
  font-weight: normal;
  font-style: normal;
}

code {
  background: transparent;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  background: #f8f8f8;
  flex-direction: column;
}

.wrap .header {
  width: 100%;
  height: 1.06667rem;
  display: flex;
  background: #ff852a;
}

.wrap .header span {
  width: 1.06667rem;
  height: 1.06667rem;
  display: block;
  text-align: center;
  line-height: 1.06667rem;
  font-size: 0.66667rem;
  color: #fff;
}

.wrap .header input {
  flex: 1;
  margin: 0.13333rem 0.26667rem 0.13333rem 0;
  border: 0;
  outline: 0;
  border-radius: 0.26667rem;
  text-align: center;
  background: #ff4e22;
}

.wrap .header input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.42667rem;
}

.wrap .main {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.wrap .main .banner {
  width: 100%;
}

.wrap .main .banner img {
  width: 100%;
  height: 4rem;
}

.wrap .main .nav {
  width: 100%;
  height: 4.8rem;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 0.26667rem 0.26667rem;
}

.wrap .main .nav dl {
  width: 20%;
  text-align: center;
}

.wrap .main .nav dl img {
  width: 1.6rem;
  height: auto;
}

.wrap .main .box1 {
  width: 100%;
  height: 1.86667rem;
  background: #fff;
  display: flex;
}

.wrap .main .box1 > p {
  height: 1.86667rem;
  width: 1.86667rem;
  padding: 0.21333rem;
  font-size: 0.53333rem;
  text-align: center;
}

.wrap .main .box1 .box1-right {
  flex: 1;
}

.wrap .main .box1 .box1-right > ul {
  width: 100%;
  height: 100%;
}

.wrap .main .box1 .box1-right > ul li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.wrap .main .box1 .box1-right > ul li > div {
  width: 100%;
  height: 100%;
}

.wrap .main .box1 .box1-right > ul li > div > p {
  line-height: 0.93333rem;
  width: auto;
  height: 30px;
  font-size: 0.4rem;
}

.wrap .main .box1 .box1-right > ul li img {
  width: 1.86667rem;
  height: 100%;
  display: block;
}

.wrap .footer {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  color: #82898d;
  background: #fff;
  justify-content: space-around;
  align-items: center;
}

.wrap .footer dl {
  width: 100%;
  height: 100%;
  text-align: center;
}
